.bcgov-captcha{
  text-align: left;

  .confirm-correct-answer {
    display:block;
    color: green;
  }

  .confirm-correct-answer i {
    color: green;
  }

  .spinner-box {
    height: 60px;
    margin: 2px 10px 6px 10px;
    padding: 5px 10px 5px 18px;
    display: flex;
    align-items: center;
  }

  .error-captcha {
    margin-left: 10px;
  }

  .error-captcha svg {
    color: darkorange;
  }

  .error-captcha p{
    margin-left: 32px;
  }

  .captcha-box-visible {
    display: block
  }

  .captcha-box-invisible{
    display: none
  }

  .captcha-image {
    display: inline-block;
    border: 1px solid gray;
    width: fit-content;
    margin-bottom: 4px;
  }

  .play-audio-button {
    margin-bottom: 3px;
  }

  .has-error {
    border-color: #dc3545;

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
    }
  }

  input[type="text"] {
    display: block;
    margin: 0;
    width: 100%;
    font-size: 20px;
    box-shadow: none;
    border-radius: none;

    padding: 6px;
    border: solid 1px #ccc;
    transition: box-shadow 0.3s, border 0.3s;

    &:focus {
      border: solid 1px white;
      box-shadow: 0 0 1px 1px #2196F3;
    }

    &.captcha-wrong-answer {
      border: solid 1px #a94442;
    }
  }

  input[type="text"]:focus {
    outline: none;
  }

  .captcha-error {
    color: #a94442;
  }

  .icon-play {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  .icon-check {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  .icon-loop {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  .icon-exclamation-triangle {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  $duration: 1.4s;
  $offset: 187;
  .spinner {
    animation: rotator $duration linear infinite;
  }

  @keyframes rotator {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(270deg); }
  }

  .path {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation:
      dash $duration ease-in-out infinite,
      colors ($duration*4) ease-in-out infinite;
  }

  @keyframes colors {
    0% { stroke: #9E9E9E; }
    25% { stroke: #757575; }
    50% { stroke: #616161; }
    75% { stroke: #424242; }
    100% { stroke: #212121; }
  }

  @keyframes dash {
    0% { stroke-dashoffset: $offset; }
    50% {
      stroke-dashoffset: $offset/4;
      transform:rotate(135deg);
    }
    100% {
      stroke-dashoffset: $offset;
      transform:rotate(450deg);
    }
  }

  // Taken from https://developer.gov.bc.ca/Design-System/Primary-Button standard styles
  .captcha-button {
    background-color: #003366;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 5px 10px; // changed from the default 12px 32px
    text-align: center;
    text-decoration: none;
    font-size: 10px; // changed from the default 18px
    font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    box-sizing: border-box;

    // Added to space icons and text evenly
    justify-content: center;
    align-items: center;
    display: flex;

    &.error-fetching-button,
    &.error-verifying-button {
      display: inline-block;
    }
  }

  .captcha-button:hover {
    text-decoration: underline;
    opacity: 0.80;
  }

  .captcha-button:focus {
    outline: 4px solid #3B99FC;
    outline-offset: 1px;
  }

  .captcha-button:active {
    opacity: 1;
  }

  .captcha-input-container {
    max-width: 420px;
    > label {
      text-align: left;
    }
  }

  .captcha-buttons-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: space-between;
    margin-bottom: 4px;

    > button {
      height: 28px;

      > span {
        margin-left: 4px;
      }
    }
  }

  .captcha-form {
    display: flex;
    flex-direction: column;
  }

  .captcha-image-and-buttons-container {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: space-between;
    max-width: 315px;
  }

  .defs {
    width: 0;
    height: 0;
    overflow: hidden;
  }

  .audio-spinner {
    display: inline-block;
    width: 15px;
    height: 15px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  .captcha-spinner {
    display: inline-block;
    width: 50px;
    height: 50px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

}
