/* You can add global styles to this file, and also import other style files */

// For Testing purposes
@import "variables.scss";
@import "~bootstrap/scss/bootstrap";
@import "~@ng-select/ng-select/themes/default.theme.css";

.ng-select.ng-select-disabled {
  &>.ng-select-container {
    background-color: $gray-200;
  }

  .ng-arrow-wrapper {
    display: none;
  }
}

.ng-select {
  min-width: 10rem;
}
